//Config
@import "./config/_variables";
@import "./config/reset";
//Components
@import "./components/shared.scss";
@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/video.scss";
@import "./components/forms.scss";
@import "./components/social-login.scss";
//Screens
@import "./screens/home.scss";
@import "./screens/serach.scss";
@import "./screens/profile.scss";
@import "./screens/edit-profile.scss";
//Defaults
* {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}
body {
  background-color: $backgroundC;
  color: $fontC;
}
main {
  max-width: 960px;
  width: 100%;
  margin: 50px auto 30px;
}
