.videoContainer {
  position: relative;
  width: 100%;
  overflow-y: hidden;

  .videoControls {
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(20 1fr);
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.3s ease-in-out;

    i {
      width: 20px;
    }

    .videoControls__playBtn {
      display: flex;
      align-items: center;
      justify-content: center;
      grid-column: 1;
    }

    .videoControls__volumeContainer {
      grid-column: 2 / 3;
      display: flex;
      align-items: center;
      justify-content: center;
      input {
        width: 100%;
      }
    }

    .videoControls__timelineContainer {
      grid-column: 3 / 20;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      input {
        width: 100%;
      }
      span {
        font-size: 12px;
        position: absolute;
        top: -10px;
      }
      .videoControls__currentTime {
        left: 10px;
      }
      .videoControls__totalTime {
        right: 10px;
      }
    }

    .videoControls__fullScreenBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      grid-column: 20;
    }
  }
}
.videoControls.showing {
  opacity: 1;
  transform: translateY(0);
}

@media screen and (max-width: 860px) {
  .videoContainer {
    height: 360px;
  }
}
@media screen and (min-width: 860px) {
  .videoContainer {
    height: 580px;
  }
}
.video__comments {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  width: 100%;
  margin: 20px auto 0;
  .video__comment {
    background-color: #fff;
    color: #000;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 99999px;
  }
}
