// video mixin
.video-mixin {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  .video-mixin__thumb {
    width: 100%;
    height: 77%;
    border-radius: 7px;
    background-color: ivory;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .video-mixin__data {
    padding: 0 15px;
    .video-mixin__title {
      display: block;
      font-size: 18px;
      margin-top: 10px;
    }
    .video-mixin__meta {
      font-size: 12px;
      margin-top: 5px;
    }
  }
}
