extends ../base
include ../mixins/video

block content 
  div.profile-data 
    if user.avatarUrl
      img(src=user.avatarUrl crossorigin).avatar
    h3=user.username
  div.video-grid
    each video in user.videos
      +video(video)
    else
      li sorry not found